@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap');

/* Set default fonts */

@layer base {
  body {
    font-family: 'Jost', sans-serif;
  }
  /* width */
   ::-webkit-scrollbar {
    width: 0.75rem;
  }
  /* Track */
   ::-webkit-scrollbar-track {
    @apply bg-slate-700 rounded-md;
  }
  /* Handle */
   ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-white;
  }
  /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}